.yahoo-0:before {content: "\f056";}
.yahoo-1:before {content: "\f00e";}
.yahoo-2:before {content: "\f073";}
.yahoo-3:before {content: "\f01e";}
.yahoo-4:before {content: "\f01e";}
.yahoo-5:before {content: "\f017";}
.yahoo-6:before {content: "\f017";}
.yahoo-7:before {content: "\f017";}
.yahoo-8:before {content: "\f015";}
.yahoo-9:before {content: "\f01a";}
.yahoo-10:before {content: "\f015";}
.yahoo-11:before {content: "\f01a";}
.yahoo-12:before {content: "\f01a";}
.yahoo-13:before {content: "\f01b";}
.yahoo-14:before {content: "\f00a";}
.yahoo-15:before {content: "\f064";}
.yahoo-16:before {content: "\f01b";}
.yahoo-17:before {content: "\f015";}
.yahoo-18:before {content: "\f017";}
.yahoo-19:before {content: "\f063";}
.yahoo-20:before {content: "\f014";}
.yahoo-21:before {content: "\f021";}
.yahoo-22:before {content: "\f062";}
.yahoo-23:before {content: "\f050";}
.yahoo-24:before {content: "\f050";}
.yahoo-25:before {content: "\f076";}
.yahoo-26:before {content: "\f013";}
.yahoo-27:before {content: "\f031";}
.yahoo-28:before {content: "\f002";}
.yahoo-29:before {content: "\f031";}
.yahoo-30:before {content: "\f002";}
.yahoo-31:before {content: "\f02e";}
.yahoo-32:before {content: "\f00d";}
.yahoo-33:before {content: "\f083";}
.yahoo-34:before {content: "\f00c";}
.yahoo-35:before {content: "\f017";}
.yahoo-36:before {content: "\f072";}
.yahoo-37:before {content: "\f00e";}
.yahoo-38:before {content: "\f00e";}
.yahoo-39:before {content: "\f00e";}
.yahoo-40:before {content: "\f01a";}
.yahoo-41:before {content: "\f064";}
.yahoo-42:before {content: "\f01b";}
.yahoo-43:before {content: "\f064";}
.yahoo-44:before {content: "\f00c";}
.yahoo-45:before {content: "\f00e";}
.yahoo-46:before {content: "\f01b";}
.yahoo-47:before {content: "\f00e";}
.yahoo-3200:before {content: "\f077";}