
/* moon phases luna */
.icon-luna1:before {content: "\f0dd";}
.icon-luna2:before {content: "\f0de";}
.icon-luna3:before {content: "\f0df";}
.icon-luna4:before {content: "\f0e0";}
.icon-luna5:before {content: "\f0e1";}
.icon-luna6:before {content: "\f0e2";}
.icon-luna7:before {content: "\f0e3";}
.icon-luna8:before {content: "\f0e4";}
.icon-luna9:before {content: "\f0e5";}
.icon-luna10:before {content: "\f0e6";}
.icon-luna11:before {content: "\f0e7";}
.icon-luna12:before {content: "\f0e8";}
.icon-luna13:before {content: "\f0e9";}
.icon-luna14:before {content: "\f0ea";}

.icon-luna15:before {content: "\f0eb";}
.icon-luna16:before {content: "\f0d0";}
.icon-luna17:before {content: "\f0d1";}
.icon-luna18:before {content: "\f0d2";}
.icon-luna19:before {content: "\f0d3";}
.icon-luna20:before {content: "\f0d4";}
.icon-luna21:before {content: "\f0d5";}
.icon-luna22:before {content: "\f0d6";}
.icon-luna23:before {content: "\f0d7";}
.icon-luna24:before {content: "\f0d8";}
.icon-luna25:before {content: "\f0d9";}
.icon-luna26:before {content: "\f0da";}
.icon-luna27:before {content: "\f0db";}
.icon-luna28:before {content: "\f0dc";}


/*.icon-luna1:before {content: "\f0eb";}
.icon-luna2:before {content: "\f0d0";}
.icon-luna3:before {content: "\f0d1";}
.icon-luna4:before {content: "\f0d2";}
.icon-luna5:before {content: "\f0d3";}
.icon-luna6:before {content: "\f0d4";}
.icon-luna7:before {content: "\f0d5";}
.icon-luna8:before {content: "\f0d6";}
.icon-luna9:before {content: "\f0d7";}
.icon-luna10:before {content: "\f0d8";}
.icon-luna11:before {content: "\f0d9";}
.icon-luna12:before {content: "\f0da";}
.icon-luna13:before {content: "\f0db";}
.icon-luna14:before {content: "\f0dc";}

.icon-luna15:before {content: "\f0dd";}
.icon-luna16:before {content: "\f0de";}
.icon-luna17:before {content: "\f0df";}
.icon-luna18:before {content: "\f0e0";}
.icon-luna19:before {content: "\f0e1";}
.icon-luna20:before {content: "\f0e2";}
.icon-luna21:before {content: "\f0e3";}
.icon-luna22:before {content: "\f0e4";}
.icon-luna23:before {content: "\f0e5";}
.icon-luna24:before {content: "\f0e6";}
.icon-luna25:before {content: "\f0e7";}
.icon-luna26:before {content: "\f0e8";}
.icon-luna27:before {content: "\f0e9";}
.icon-luna28:before {content: "\f0ea";}*/