
/* wunderground */
.icon-chanceflurries:before {content: "\f064";}
.icon-chancerain:before {content: "\f019";}
.icon-chancesleat:before {content: "\f0b5";}
.icon-chancesnow:before {content: "\f01b";}
.icon-chancetstorms:before {content: "\f01e";}
.icon-clear:before {content: "\f00d";}
.icon-cloudy:before {content: "\f002";}
.icon-flurries:before {content: "\f064";}
.icon-hazy:before {content: "\f0b6";}
.icon-mostlycloudy:before {content: "\f002";}
.icon-mostlysunny:before {content: "\f00d";}
.icon-partlycloudy:before {content: "\f002";}
.icon-partlysunny:before {content: "\f00d";}
.icon-rain:before {content: "\f01a";}
.icon-sleat:before {content: "\f0b5";}
.icon-snow:before {content: "\f01b";}
.icon-sunny:before {content: "\f00d";}
.icon-tstorms:before {content: "\f01e";}
.icon-unknown:before {content: "\f00d";}

.icon-nt_chanceflurries:before {content: "\f064";}
.icon-nt_chancerain:before {content: "\f019";}
.icon-nt_chancesleat:before {content: "\f0b5";}
.icon-nt_chancesnow:before {content: "\f01b";}
.icon-nt_chancetstorms:before {content: "\f01e";}
.icon-nt_clear:before {content: "\f02e";}
.icon-nt_cloudy:before {content: "\f086";}
.icon-nt_flurries:before {content: "\f064";}
.icon-nt_hazy:before {content: "\f0b6";}
.icon-nt_mostlycloudy:before {content: "\f086";}
.icon-nt_mostlysunny:before {content: "\f02e";}
.icon-nt_partlycloudy:before {content: "\f086";}
.icon-nt_partlysunny:before {content: "\f02e";}
.icon-nt_rain:before {content: "\f01a";}
.icon-nt_sleat:before {content: "\f0b5";}
.icon-nt_snow:before {content: "\f01b";}
.icon-nt_sunny:before {content: "\f02e";}
.icon-nt_tstorms:before {content: "\f01e";}
.icon-nt_unknown:before {content: "\f02e";}