.orange {
  background-color: #FF9800;
}
.teal {
  background-color: #4DB6AC;
}
.teal900 {
  background-color: #004d40;
}
.teal800 {
  background-color: #00695c;
}
.teal700 {
  background-color: #00796b;
}
.teal600 {
  background-color: #00897b;
}